<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; <span id="currentYear"></span> </strong> All rights reserved.
</footer>


 <script>
        // Obtener el elemento span con el ID 'currentYear'
        var currentYearElement = document.getElementById('currentYear');

        // Obtener el año actual
        var currentYear = new Date().getFullYear();

        // Asignar el año actual al elemento span
        currentYearElement.textContent = currentYear;
    </script>